on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'apps/makoto/*'
      - '.github/workflows/makoto.yaml'

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:

      - name: Checkout main
        uses: actions/checkout@v2

      - name: Build container image
        run: docker build -f apps/makoto/Dockerfile -t registry.digitalocean.com/tharp/makoto:$(echo $GITHUB_SHA | head -c7) -t registry.digitalocean.com/tharp/makoto:latest .

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Log in to DigitalOcean Container Registry
        run: doctl registry login

      - name: Push image to DigitalOcean Container Registry
        run: docker push registry.digitalocean.com/tharp/makoto:$(echo $GITHUB_SHA | head -c7)

      - name: Update deployment file
        run: TAG=$(echo $GITHUB_SHA | head -c7) && sed -i 's/MAKOTOVERSION/'${TAG}'/' $GITHUB_WORKSPACE/apps/makoto/deployment.yaml

      - name: Save DigitalOcean kubeconfig with short-lived credentials
        run: doctl kubernetes cluster kubeconfig save --expiry-seconds 600 ${{ secrets.DIGITALOCEAN_K8S_CLUSTER_ID }}

      - name: Deploy to DigitalOcean Kubernetes
        run: kubectl apply -f $GITHUB_WORKSPACE/apps/makoto/deployment.yaml -n makoto

      - name: Verify deployment
        run: kubectl rollout status deployment/makoto -n makoto
