on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'apps/scp.bz/reader/**'
      - '.github/workflows/scp-bz-reader.yaml'

jobs:
  build:
    name: Build, push, and deploy
    runs-on: ubuntu-latest
    steps:

      - name: Checkout main
        uses: actions/checkout@v2

      - name: Update SHA
        run: echo $GITHUB_SHA > $GITHUB_WORKSPACE/site/_meta

      - name: Build container image
        run: docker build -f apps/scp.bz/reader/Dockerfile -t registry.digitalocean.com/tharp/scp-bz-reader:$(echo $GITHUB_SHA | head -c7) -t registry.digitalocean.com/tharp/scp-bz-reader:latest .

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Log in to DigitalOcean Container Registry with short-lived credentials
        run: doctl registry login --expiry-seconds 600

      - name: Push image to DigitalOcean Container Registry
        run: docker push registry.digitalocean.com/tharp/scp-bz-reader:$(echo $GITHUB_SHA | head -c7)
